:root {
  /*
    *** GLobal Var ***
   */
  /* SIZES */
  --ifms-expand-width: 100%;
  --ifms-expand-height: 100vh;
  --ifms-full-height: 100%;
  /* Fonts */
  --main-font: 'Merriweather', serif;
  --text-sm: .850rem;
  /* Spaces */
  --ifms-xs-space: 5px;
  --ifms-s-space: 10px;
  --ifms-space: 20px;
  --ifms-md-space: 40px;
  --ifms-lg-space: 100px;
  --ifms-xl-space: 135px;
  /* COLORS */
  --dark-color: #161515;
  --secondary-color: rgba(85,85,85,1);
  --grey-color: rgba(148,150,153,1);
  --grey-light-color: #F9F9F9;
  --grey-lighten-color: rgba(235,235,235,1);
  --golden-dark-color: #BD9D59;
  --light--color: #FFFFFF;
  /* Typegraphy */
  --text-sm: .850rem;
  /*
    *** Specific Var ***
   */
   /* Menu Icon Home Size */
  --menu-icon-size: 85px;
  --services-header-height: 130px;
}
/*
*** IFMS RULES ***
*/
/* Sizes */
.ifms-container-expand {
  width: var(--ifms-expand-width);
}
.ifms-height-viewport {
  height: var(--ifms-expand-height);
}
.ifms-full-height {
  height: var(--ifms-full-height);
}
.ifms-container, .ifms-services-container {
  width: var(--ifms-expand-width);
  margin-right: auto;
  margin-left: auto;
}
.ifms-container {
  padding-right: var(--ifms-xl-space);
  padding-left: var(--ifms-xl-space);
}
.ifms-services-container {
  padding-right: var(--ifms-lg-space);
  padding-left: var(--ifms-lg-space);
}
.ifms-text-sm {
  font-size: var(--text-sm);
}
/* Background Colors */
.ifms-bg-dark {
  background-color: var(--dark-color);
}
.ifms-bg-grey {
  background-color: var(--grey-color);
}
.ifms-bg-light-grey {
  background-color: var(--grey-light-color);
}
.ifms-bg-light {
  background-color: var(--light--color);
}
/* Text Colors */
.ifms-text-dark {
  color: var(--dark-color);
}
.ifms-text-secondary {
  color: var(--secondary-color);
}
.ifms-text-grey {
  color: var(--grey-color);
}
.ifms-text-grey-lighten {
  color: var(--grey-lighten-color);
}
.ifms-golden-text {
  color: var(--golden-dark-color);
}
.ifms-text-light {
  color: var(--light--color);
}


/*
  *** Bootstrap Overrides *** TODO
 */
.breadcrumb {
  background-color: var(--light--color);
}
.breadcrumb li a {
  font-size: 12px;
  font-weight: 300;
  color: var(--grey-color);
  text-decoration: none;
  text-transform: capitalize;
}
.nav li.active a, a.active {
  color: var(--golden-dark-color) !important;
}
a:hover {
  text-decoration: none;
  color: var(--grey-color);
}
/* *** *** *** MAIN STYLESHEET *** ** *** */
/*
  *** Body ***
 */
body {
  font-family: var(--main-font);
  font-weight: 400;
}
img {
  max-width: 100%;
}
h1, h2, h3 {
  font-family: var(--main-font);
  font-weight: 700;
}
p {
  line-height: 1.8;
}
/* *** *** *** Home Page *** ** *** */
/*
  *** Heder ***
 */
 /* Social Nav */
.ifms-social-nav-nav > li > a {
  color: var(--secondary-color) !important;
}
 /* Titl && Logo */
.ifms-header-title-logo {
  margin-top: -15px; /* TODO */
}
/*
  *** Banner ***
 */
.ifms-banner {
  /* height: 400px;  ToASK*/
  height: 400px;
  background-image: url('../img/banner/cover-photo.jpg');
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 34%;
  left: 0;
}
/* .ifms-banner::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/banner/Rectangle.svg');
} */
.ifms-combine-shape {
  position: absolute;
  height: 150px;
  width: 70px;
  left: auto;
  right: auto;
  bottom: auto;
  top: -60px;
}
/* THE MENU */
.ifms-menu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--grey-lighten-color);
  z-index: 9;
  overflow: hidden;
  visibility: hidden;
  opacity: .9;
}
a.ifms-menu-btn {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: var(--menu-icon-size);
  height: var(--menu-icon-size);
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 50%;
  z-index: 11;
  background: none;
	background-color: var(--golden-dark-color);
	color: var(--light--color);
  text-align: center;
  cursor: pointer;
  /* -webkit-backface-visibility: hidden; */
}
.ifms-menu-btn svg {
  display: block;
  position: absolute;
  text-align: center;
  width: 2.25em;
	height: 2.25em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
a.ifms-menu-btn:hover svg {
  color: var(--grey-color);
}
.ifms-icon-shadow {
  content: '';
  display: block;
  position: absolute;
  left: auto;
  bottom: auto;
  width:100%;
  height:100%;
  text-align: center;
  background: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.ifms-icon-shadow-first {
  top: 49%;
  right: -67%;
  opacity: .3;
  border: 50px solid var(--golden-dark-color);
}
.ifms-icon-shadow-second {
  top: 49%;
  right: -90%;
  opacity: .2;
  border: 60px solid var(--golden-dark-color);
}
.ifms-menu-wrapper {
  position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
  transform: translate(-50%, -50%);
	width: calc(var(--menu-icon-size) * 5);
	height: calc(var(--menu-icon-size) * 5);
	border-radius: 50%;
  background: var(--light--color);
  overflow: hidden;
  visibility: hidden;
  opacity: 1;
}
.open-menu {
  visibility: visible;
}
.ifms-menu-wrapper::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background: transparent;
  opacity: .1;
  border: 15px solid var(--grey-color);
  border-radius: 50%;
}
/* .ifms-menu-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  background: var(--grey-lighten-color);
  opacity: .1;
  border: 30px solid var(--grey-color);
  border-radius: 50%; */
  /* overflow: hidden;
  z-index: 9;
} */
.ifms-menu-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ifms-menu-wrapper ul li {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: auto;
  right: 0;
  width:50%;
  height: 50%;
  border-left: 1px solid rgba(189, 157, 89, .2);
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
  transform-origin: 0 100%;
}
.ifms-menu-wrapper ul li a {
  position: absolute;
  width: 200%;
  height: 200%;
  left: -100%;
  text-align: center;
  text-decoration: none;
  -webkit-transform: skewY(40deg) rotate(20deg);
  -ms-transform: skewY(40deg) rotate(20deg);
  transform: skewY(40deg) rotate(20deg);
  padding-top: 20px;
  color: var(--dark-color);
  font-weight: 300;
  font-size: 14px;
}
.ifms-menu-wrapper ul li a span {
  position: relative;
  display: block;
  left: 0;
  right: auto;
  top: 30px;
  text-align: center;
}
.ifms-menu-wrapper ul li a:hover {
  color: var(--golden-dark-color);
}
.ifms-menu-wrapper ul li:first-child {
  -webkit-transform: rotate(4deg) skewY(-40deg);
  -ms-transform: rotate(4deg) skewY(-40deg);
  transform: rotate(4deg) skewY(-40deg);
}
.ifms-menu-wrapper ul li:nth-child(2) {
  -webkit-transform: rotate(40deg) skewY(-40deg);
  -ms-transform: rotate(40deg) skewY(-40deg);
  transform: rotate(40deg) skewY(-40deg);
}
.ifms-menu-wrapper ul li:nth-child(3) {
  -webkit-transform: rotate(80deg) skewY(-40deg);
  -ms-transform: rotate(80deg) skewY(-40deg);
  transform: rotate(80deg) skewY(-40deg);
}
.ifms-menu-wrapper ul li:nth-child(4) {
  -webkit-transform: rotate(120deg) skewY(-40deg);
  -ms-transform: rotate(120deg) skewY(-40deg);
  transform: rotate(120deg) skewY(-40deg);
}
.ifms-menu-wrapper ul li:nth-child(5) {
  -webkit-transform: rotate(160deg) skewY(-40deg);
  -ms-transform: rotate(160deg) skewY(-40deg);
  transform: rotate(160deg) skewY(-40deg);
}
.ifms-menu-wrapper ul li:nth-child(6) {
  -webkit-transform: rotate(200deg) skewY(-40deg);
  -ms-transform: rotate(200deg) skewY(-40deg);
  transform: rotate(200deg) skewY(-40deg);
}
.ifms-menu-wrapper ul li:nth-child(7) {
  -webkit-transform: rotate(240deg) skewY(-40deg);
  -ms-transform: rotate(240deg) skewY(-40deg);
  transform: rotate(240deg) skewY(-40deg);
}
.ifms-menu-wrapper ul li:nth-child(8) {
  -webkit-transform: rotate(280deg) skewY(-40deg);
  -ms-transform: rotate(280deg) skewY(-40deg);
  transform: rotate(280deg) skewY(-40deg);
}
.ifms-menu-wrapper ul li:nth-child(9) {
  -webkit-transform: rotate(320deg) skewY(-40deg);
  -ms-transform: rotate(320deg) skewY(-40deg);
  transform: rotate(320deg) skewY(-40deg);
}
/* .ifms-menu-wrapper ul li:nth-child(even) {
  border: 0.1px solid var(--golden-dark-color);
  background-color: var(--grey-light-color);
}
.ifms-menu-wrapper ul li:nth-child(odd) {
  background-color: var(--grey-light-color);
  border: 0.1px solid var(--golden-dark-color);
} */
.ifms-menu-wrapper ul li:last-child a span {
  left: 10px;
}
.ifms-menu-wrapper ul li:first-child a span {
  -webkit-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg);
}
.ifms-menu-wrapper ul li:nth-child(2) span {
  -webkit-transform: rotate(-58deg);
  -ms-transform: rotate(-58deg);
  transform: rotate(-58deg);
}
.ifms-menu-wrapper ul li:nth-child(3) span {
  -webkit-transform: rotate(-100deg);
  -ms-transform: rotate(-100deg);
  transform: rotate(-100deg);
}
.ifms-menu-wrapper ul li:nth-child(4) span {
  -webkit-transform: rotate(-142deg);
  -ms-transform: rotate(-142deg);
  transform: rotate(-142deg);
}
.ifms-menu-wrapper ul li:nth-child(5) span {
  -webkit-transform: rotate(-178deg);
  -ms-transform: rotate(-178deg);
  transform: rotate(-178deg);
}
.ifms-menu-wrapper ul li:nth-child(6) span {
  -webkit-transform: rotate(-217deg);
  -ms-transform: rotate(-217deg);
  transform: rotate(-217deg);
}
.ifms-menu-wrapper ul li:nth-child(7) span {
  -webkit-transform: rotate(-260deg);
  -ms-transform: rotate(-260deg);
  transform: rotate(-260deg);
}
.ifms-menu-wrapper ul li:nth-child(8) span {
  -webkit-transform: rotate(-300deg);
  -ms-transform: rotate(-300deg);
  transform: rotate(-300deg);
}
.ifms-menu-wrapper ul li:nth-child(9) span {
  -webkit-transform: rotate(18deg);
  -ms-transform: rotate(18deg);
  transform: rotate(18deg);
}
/* Footer Nav */
.ifms-home-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
}
.ifms-footer-nav > li > a {
  text-transform: capitalize;
  color: var(--grey-color) !important;
}
/* Copyright Text */
.ifms-footer-copy > small {
  margin-top: .7rem !important;
}

/* *** *** *** Services Page *** ** *** */
.ifms-services-wrapper {
  position: relative;
}
/* Header */
.ifms-services-header {
  height: var(--services-header-height);
  position: fixed;
  overflow: hidden;
  z-index: 1;
}
.ifms-header-title-logo {
  display: block;
  position: relative;
  height: 75px;
  width: 100px
}
.ifms-header-title-logo > a {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -16px;
  left: 0;
  bottom: auto;
  right: auto;
  z-index: inherit;
  text-decoration: none;
}
.ifms-header-title-logo > a:hover {
  opacity: .7;
  color: var(--golden-dark-color);
}
.ifms-main-nav > nav > a:hover  {
  text-decoration: none;
  color: var(--grey-color);
  opacity: .7;
}
/* Dark Header Tow Edges */
.ifms-edge {
  position: absolute;
  top: var(--services-header-height);
  bottom: auto;
  width: 100px;
  height: calc(450px - var(--services-header-height));
  overflow: hidden;
}
.ifms-edge-left {
  left: 0;
  right: auto;
}
.ifms-edge-right {
  left: auto;
  right: 0;
}
/* Content */
.ifms-services-content {
  /* height: 2044px; */
  margin: 0 100px;
  padding: var(--services-header-height) 0;
}
/* Services Blocks */
.ifms-icon-arrow-right > svg {
  vertical-align: middle;
  text-align: center;
}
.ifms-service-item {
  position: relative;
  margin-top: 75px;
}
.ifms-service-item::after {
  content: '';
  display: block;
  position: absolute;
  top: auto;
  left: 80px;
  right: auto;
  bottom: 0;
  width: calc(100% - 80px);
  height: 0px;
  border: 1px solid var(--grey-lighten-color);
}
/* Services Title Page Left 1/3 Column */
.ifms-page-title {
  position: relative;
}
.ifms-page-title .ifms-page-heading-title {
  position: absolute;
  transform: rotate(-90deg);
  font-size: 14vw;
  font-weight: 100;
  top: 22vw;
  left: auto;
  right: -18vw;
  bottom: auto;
  color: var(--grey-color);
  opacity: 0.1;
}
/* This Is Single Service Page Title */
/* .ifms-page-title .ifms-page-single-heading-title {
  top: 18vw;
} */
.ifms-page-title .ifms-page-single-heading-about {
  top: 15vw;
  right: -10vw;
}
/* Sevices Footer */
.ifms-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
  display: block;
  height: var(--services-header-height);
  overflow: visible;
}
.ifms-footer::before, .ifms-footer::after {
  content: '';
  position: absolute;
  display: block;
  bottom: var(--services-header-height);
  top: auto;
  height:  calc(450px - var(--services-header-height));
  width: 100px;
  background: var(--dark-color);
}
.ifms-footer::before {
  left: 0;
  right: auto;
}
.ifms-footer::after {
  left: auto;
  right: 0;
}
nav > li.active > a {
  color: var(--golden-dark-color)
}
/* *** *** *** Sigle Service Page */
.ifms-our-services {
  background-color: rgba(216,216,216,.2);
  margin: 2rem 3.3rem 1.5rem 0;
  padding: 1.5em;
}
.ifms-our-services-nav > li {
  padding: var(--ifms-space);
  width: 80%;
  vertical-align: middle;
  position: relative;
}
.ifms-our-services-nav > li::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 0;
  top: auto;
  bottom: 0px;
  left: auto;
  right: auto;
  border: 1px solid var(--grey-lighten-color);
}
.ifms-our-services-nav > li:last-child::after {
  border: none;
}
/* *** *** *** About Page *** *** *** */
.ifms-about-baner-cobined-icon {
  position: absolute;
  display: block;
  top: -77px;
  left: -5px;
  right: auto;
  bottom: auto;
}
.ifms-about-baner-cobined-icon-last {
  top: -30px;
  left: auto;
  right: 34px;
}


/* *** *** *** MEDIA QUERY *** *** *** */
/* MOBILE */
@media only screen and (max-width: 540px) {
  /* HOME */
  .ifms-container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .ifms-logo-icon img {
    height: 100px;
    width: 100px;
  }
  .ifms-title h2 {
    font-size: 18px;
    line-height: 28px
  }
  .ifms-footer-copy small, .ifms-footer-copy small {
    font-size: 5px
  }
  /* Services */
  .ifms-logos {
    position: absolute;
    top: auto;
    bottom: 40px;
  }
  .ifms-main-nav a {
    font-size: 13px;
    display: inline-block;
    margin-top: 25px;
  }
  .ifms-service-item::after {
    left: 0px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0px;
    border: 1px solid var(--grey-lighten-color);
  }
}
/* TAP */
@media only screen and (max-width: 768px) {
  .ifms-container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .ifms-combine-shape {
    left: 10px;
  }
  .ifms-home-footer {
    bottom: 7%
  }
  .ifms-footer-nav li a, .ifms-footer-nav  li a {
    font-size: 9px;
  }
  /* Services Pages */
  .ifms-services-content {
    margin: 0 20px;
  }
  .ifms-services-container {
    padding-right: 20px;
    padding-left: 20px
  }
  .ifms-our-services {
    margin: 20px 0;
  }
  .ifms-footer::before, .ifms-footer::after  {
    display: none;
    width: 0px;
    visibility: hidden;
  }
  /* Contact Page */
  .ifms-contact-form label {
    margin-bottom: 0;
  }
}